body {
       background: url(https://i.etsystatic.com/21337046/r/il/ddbdc6/2208337993/il_794xN.2208337993_jfc4.jpg);
}

h1 {
    color:rgb(33, 9, 252);
    text-align: justify;
    background: rgb(3, 3, 15);
    margin: 25px;
    height: 120px;
    font-size: 100px;
}

h2 {
    color-scheme: dark;
    animation: backwards;
    
}

b {
    color: whitesmoke;
    font-size: larger;
}

footer {
        font: bold
        color: rgb(42, 95%, 35%)
}

a {
    font-weight: bolder;
    font-size: xx-large;
    color: antiquewhite;
}

div {
    background: purple;
}